extends base.pug

block content
    if errorMessage
        span=errorMessage
    h3 Change Title of Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required, type="text",  maxlength="80")
        input(name="description", placeholder="Description", value=video.description, required, type="text")
        input(name="hashtags", placeholder="Hashtags, separated by comma.",value=video.hashtags.join(), required, type="text")
        input(value="save", type="submit")
